http://ithelp.ithome.com.tw/articles/10186310

載入資料之後，接踵而來的就是資料整理（Data manipulation）的差事，或稱資料改寫（Data munging），

抑或是一個比較潮的詞彙：資料角力（Data wrangling）。資料角力的目的是為了視覺化或者機器學習模型需求，

必須將資料整理成合乎需求的格式

# 我們討論幾個常用技巧，然後使用 Python 與 R 語言練習。

+ 連接
+ 合併
+ 轉置
+ 移除重複
+ 分箱
+ 輸出

## 連接

類似資料庫表格的 join。

R 語言

我們使用 merge() 函數。

In [3]:
name <- c("蒙其·D·魯夫", "羅羅亞·索隆", "娜美", "騙人布", "賓什莫克·香吉士", "多尼多尼·喬巴", "妮可·羅賓", "佛朗基", "布魯克")
occupation <- c("船長", "劍士", "航海士", "狙擊手", "廚師", "醫生", "考古學家", "船匠", "音樂家")

# 建立第一個 data frame
straw_hat_df = data.frame(name, occupation)

name <- c("蒙其·D·魯夫", "多尼多尼·喬巴", "妮可·羅賓", "布魯克")
devil_fruit <- c("橡膠果實", "人人果實", "花花果實", "黃泉果實")

# 建立第二個 data frame
devil_fruit_df = data.frame(name, devil_fruit)

# 連接
straw_hat_merged = merge(straw_hat_df, devil_fruit_df)
straw_hat_merged

  name          occupation devil_fruit
1 布魯克        音樂家     黃泉果實
2 多尼多尼·喬巴 醫生       人人果實
3 妮可·羅賓     考古學家   花花果實
4 蒙其·D·魯夫   船長       橡膠果實

R 語言的 merge() 函數預設也是inner join，如果我們希望使用不同的合併方式，

我們可以在 all.x = 與 all.y = 參數指定。

In [6]:
name <- c("蒙其·D·魯夫", "羅羅亞·索隆", "娜美", "騙人布", "賓什莫克·香吉士", "多尼多尼·喬巴", "妮可·羅賓", "佛朗基", "布魯克")
occupation <- c("船長", "劍士", "航海士", "狙擊手", "廚師", "醫生", "考古學家", "船匠", "音樂家")

# 建立第一個 data frame
straw_hat_df = data.frame(name, occupation)

name <- c("蒙其·D·魯夫", "多尼多尼·喬巴", "妮可·羅賓", "布魯克")
devil_fruit <- c("橡膠果實", "人人果實", "花花果實", "黃泉果實")

# 建立第二個 data frame
devil_fruit_df = data.frame(name, devil_fruit)

# 連接
straw_hat_merged = merge(straw_hat_df, devil_fruit_df, all.x = TRUE)
straw_hat_merged

  name            occupation devil_fruit
1 布魯克          音樂家     黃泉果實
2 多尼多尼·喬巴   醫生       人人果實
3 佛朗基          船匠       NA
4 妮可·羅賓       考古學家   花花果實
5 娜美            航海士     NA
6 蒙其·D·魯夫     船長       橡膠果實
7 賓什莫克·香吉士 廚師       NA
8 羅羅亞·索隆     劍士       NA
9 騙人布          狙擊手     NA

## 合併

新增一個觀測值或一個變數欄位。

R 語言

我們使用 rbind() 函數新增一個觀測值，使用 cbind() 函數新增一個變數欄位。

In [7]:
name <- c("蒙其·D·魯夫", "羅羅亞·索隆", "娜美", "騙人布", "賓什莫克·香吉士", "多尼多尼·喬巴", "妮可·羅賓", "佛朗基", "布魯克")
occupation <- c("船長", "劍士", "航海士", "狙擊手", "廚師", "醫生", "考古學家", "船匠", "音樂家")

# 建立第一個 data frame
straw_hat_df = data.frame(name, occupation)
straw_hat_df$name <- as.character(straw_hat_df$name)
straw_hat_df$occupation <- as.character(straw_hat_df$occupation)

# 新增一個觀測值
princess_vivi <- c("娜菲鲁塔利·薇薇", "阿拉巴斯坦王國公主")
straw_hat_df_w_vivi <- rbind(straw_hat_df, princess_vivi)
straw_hat_df_w_vivi

# 新增一個變數欄位
age <- c(19, 21, 20, 19, 21, 17, 30, 36, 90, 18)
straw_hat_df_w_vivi_age <- cbind(straw_hat_df_w_vivi, age)
straw_hat_df_w_vivi_age

   name                  occupation
1  蒙其·D·魯夫           船長
2  羅羅亞·索隆           劍士
3  娜美                  航海士
4  騙人布                狙擊手
5  賓什莫克·香吉士       廚師
6  多尼多尼·喬巴         醫生
7  妮可·羅賓             考古學家
8  佛朗基                船匠
9  布魯克                音樂家
10 娜菲<U+9C81>塔利·薇薇 阿拉巴斯坦王國公主

   name                  occupation         age
1  蒙其·D·魯夫           船長               19
2  羅羅亞·索隆           劍士               21
3  娜美                  航海士             20
4  騙人布                狙擊手             19
5  賓什莫克·香吉士       廚師               21
6  多尼多尼·喬巴         醫生               17
7  妮可·羅賓             考古學家           30
8  佛朗基                船匠               36
9  布魯克                音樂家             90
10 娜菲<U+9C81>塔利·薇薇 阿拉巴斯坦王國公主 18

## 轉置

轉置（Transpose）指的是寬表格（Wide table）與長表格（Long table）之間的互換。

R 語言

我們使用 tidyr 套件的 gather() 函數將寬表格轉置為長表格，使用 spread() 函數將長表格轉置回寬表格。

In [9]:
library(tidyr)

name <- c("蒙其·D·魯夫", "羅羅亞·索隆", "娜美", "騙人布", "賓什莫克·香吉士", "多尼多尼·喬巴", "妮可·羅賓", "佛朗基", "布魯克")
age <- c(19, 21, 20, 19, 21, 17, 30, 36, 90)
height <- c(174, 181, 170, 176, 180, 90, 188, 240, 277)

# 建立一個寬表格
straw_hat_df_wide <- data.frame(name, age, height)

# 轉換為長表格
straw_hat_df_long <- gather(straw_hat_df_wide, key = item, value = value, age, height)
straw_hat_df_long

# 轉換回寬表格
straw_hat_df_wide <- spread(straw_hat_df_long, key = item, value = value)
straw_hat_df_wide

   name            item   value
1  蒙其·D·魯夫     age     19
2  羅羅亞·索隆     age     21
3  娜美            age     20
4  騙人布          age     19
5  賓什莫克·香吉士 age     21
6  多尼多尼·喬巴   age     17
7  妮可·羅賓       age     30
8  佛朗基          age     36
9  布魯克          age     90
10 蒙其·D·魯夫     height 174
11 羅羅亞·索隆     height 181
12 娜美            height 170
13 騙人布          height 176
14 賓什莫克·香吉士 height 180
15 多尼多尼·喬巴   height  90
16 妮可·羅賓       height 188
17 佛朗基          height 240
18 布魯克          height 277

  name            age height
1 布魯克          90  277
2 多尼多尼·喬巴   17   90
3 佛朗基          36  240
4 妮可·羅賓       30  188
5 娜美            20  170
6 蒙其·D·魯夫     19  174
7 賓什莫克·香吉士 21  180
8 羅羅亞·索隆     21  181
9 騙人布          19  176

## 移除重複值

R 語言

我們使用 duplicated() 函數。

In [10]:
# 建立一個有重複值的 data frame
name = c("蒙其·D·魯夫", "蒙其·D·魯夫", "蒙其·D·魯夫", "羅羅亞·索隆", "羅羅亞·索隆", "羅羅亞·索隆")
age <- c(19, 19, 17, 21, 21, 19)
duplicated_df <- data.frame(name, age)
is_duplicates <- duplicated(duplicated_df)
duplicated_df[!is_duplicates, ]

  name        age
1 蒙其·D·魯夫 19
3 蒙其·D·魯夫 17
4 羅羅亞·索隆 21
6 羅羅亞·索隆 19

## 分箱

數值分箱（Binning）是將連續型數值用幾個切點分隔，新增一個類別型變數的技巧。

R 語言

我們使用 cut() 函數。

In [13]:
name <- c("蒙其·D·魯夫", "羅羅亞·索隆", "娜美", "騙人布", "賓什莫克·香吉士", "多尼多尼·喬巴", "妮可·羅賓", "佛朗基", "布魯克")
age <- c(19, 21, 20, 19, 21, 17, 30, 36, 90)
straw_hat_df <- data.frame(name, age)

# 分箱
bins <- c(0, 25, Inf)
group_names <- c("小於 25 歲", "超過 25 歲")
straw_hat_df$age_cat <- cut(straw_hat_df$age, breaks = bins, labels = group_names)
straw_hat_df

  name            age age_cat
1 蒙其·D·魯夫     19  小於 25 歲
2 羅羅亞·索隆     21  小於 25 歲
3 娜美            20  小於 25 歲
4 騙人布          19  小於 25 歲
5 賓什莫克·香吉士 21  小於 25 歲
6 多尼多尼·喬巴   17  小於 25 歲
7 妮可·羅賓       30  超過 25 歲
8 佛朗基          36  超過 25 歲
9 布魯克          90  超過 25 歲

## 輸出

經過激烈的資料角力（Data wrangling）之後，我們想要將整理乾淨的資料輸出成 csv 或者 JSON。


R 語言

我們使用 write.csv() 函數與 jsonlite 套件的 toJSON() 函數。

In [11]:
library(jsonlite)

name <- c("蒙其·D·魯夫", "羅羅亞·索隆", "娜美", "騙人布", "賓什莫克·香吉士", "多尼多尼·喬巴", "妮可·羅賓", "佛朗基", "布魯克")
age <- c(19, 21, 20, 19, 21, 17, 30, 36, 90)
straw_hat_df <- data.frame(name, age)

# 輸出為 csv
write.csv(straw_hat_df, file = "straw_hat.csv", row.names = FALSE)

# 輸出為 JSON
straw_hat_json <- toJSON(straw_hat_df)
write(straw_hat_json, file = "straw_hat.json")