http://ithelp.ithome.com.tw/articles/10185182

R 語言我們可以使用 data.frame() 函數可以將 vectors 結合成資料框。

In [2]:
groups <- c("Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組")
ironmen <- c(46, 8, 12, 12, 6, 58)
ironmen_df <- data.frame(groups, ironmen)
ironmen_df

  groups     ironmen
1 Modern Web 46
2 DevOps      8
3 Cloud      12
4 Big Data   12
5 Security    6
6 自我挑戰組 58

# R 語言的 data frame

可以由 matrix 轉換

如果 data frame 的變數類型相同，亦可以從 matrix 轉換。

In [3]:
my_mat <- matrix(1:4, nrow = 2, dimnames = list(NULL, c("col1", "col2")))
my_df <- data.frame(my_mat)
my_df

  col1 col2
1 1    3
2 2    4

# 包含多種資料類型

跟 list 的特性相仿，不會像 vector 與 matrix 僅限制容納單一資料類型。

In [4]:
groups <- c("Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組")
ironmen <- c(46, 8, 12, 12, 6, 58)
ironmen_df <- data.frame(groups, ironmen)

sapply(ironmen_df, FUN = class) # 回傳每一個欄位的 class

   groups   ironmen
 "factor" "numeric"

# 選擇元素

R 語言透過使用中括號 [ , ] 或者 $ 

可以很靈活地從 data frame 中選擇想要的元素（值，列或欄。）

In [11]:
groups <- c("Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組")
ironmen <- c(46, 8, 12, 12, 6, 58)
ironmen_df <- data.frame(groups, ironmen)

ironmen_df
ironmen_df[1, 2] # 第一列第二欄：Modern Web 組的鐵人數
ironmen_df[1, ] # 第一列：Modern Web 組的組名與鐵人數
ironmen_df[, 2] # 第二欄：各組的鐵人數
ironmen_df[, "ironmen"] # 各組的鐵人數
ironmen_df$ironmen # 各組的鐵人數

  groups     ironmen
1 Modern Web 46
2 DevOps      8
3 Cloud      12
4 Big Data   12
5 Security    6
6 自我挑戰組 58

[1] 46

  groups     ironmen
1 Modern Web 46

[1] 46  8 12 12  6 58

[1] 46  8 12 12  6 58

[1] 46  8 12 12  6 58

# 了解 data frame 概觀的函數

R 語言可以透過一些函數來了解 data frame 的概觀。

In [12]:
dim(ironmen_df) # 回傳列數與欄數
str(ironmen_df) # 回傳結構
summary(ironmen_df) # 回傳描述性統計
head(ironmen_df, n = 3) # 回傳前三筆觀測值
tail(ironmen_df, n = 3) # 回傳後三筆觀測值
names(ironmen_df) # 回傳欄位名稱

[1] 6 2

'data.frame':	6 obs. of  2 variables:
 $ groups : Factor w/ 6 levels "Big Data","Cloud",..: 4 3 2 1 5 6
 $ ironmen: num  46 8 12 12 6 58

        groups     ironmen
 Big Data  :1   Min.   : 6.00
 Cloud     :1   1st Qu.: 9.00
 DevOps    :1   Median :12.00
 Modern Web:1   Mean   :23.67
 Security  :1   3rd Qu.:37.50
 自我挑戰組:1   Max.   :58.00

  groups     ironmen
1 Modern Web 46
2 DevOps      8
3 Cloud      12

  groups     ironmen
4 Big Data   12
5 Security    6
6 自我挑戰組 58

[1] "groups"  "ironmen"

# R 語言的 factor 資料結構

## Nominal

In [1]:
groups <- c("Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組")
groups_factor <- factor(groups) # 轉換為 factor
groups_factor

[1] Modern Web DevOps     Cloud      Big Data   Security   自我挑戰組
Levels: Big Data Cloud DevOps Modern Web Security 自我挑戰組

## Ordinal

R 語言使用 ordered = TRUE 與指定 levels = 參數加入 ordinal 的特性。

In [3]:
temperature <- c("cold", "warm", "hot")
temperature_factor <- factor(temperature, ordered = TRUE, levels = c("cold", "warm", "hot"))
print(temperature_factor)

[1] cold warm hot
Levels: cold < warm < hot